<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1611.jianshu.dao.CollectionsMapper">
  <resultMap id="BaseResultMap" type="com.soft1611.jianshu.model.Collections">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="article_count" jdbcType="INTEGER" property="articleCount" />
    <result column="collection_name" jdbcType="VARCHAR" property="collectionName" />
    <result column="collection_url" jdbcType="VARCHAR" property="collectionUrl" />
    <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
  </resultMap>
</mapper>